.placeholderDragAndDropQuiz .placeholder {
    min-width: 50px;
    position: relative;
    margin: 0 4px;
    padding: 0 4px;
    text-align: center;
}
.placeholderDragAndDropQuiz .placeholder .underline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    border: solid 2px #333;
    border-top: none;
}
.placeholderDragAndDropQuiz .placeholder.active .underline {
    border-color: #09f;
}
.placeholderDragAndDropQuiz .placeholder .answer {
    color: rgb(100, 221, 23);
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
}
.placeholderDragAndDropQuiz .placeholder {
    display: inline-block;
}
.placeholderDragAndDropQuiz .answers {
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}
.placeholderDragAndDropQuiz .answers .answer {
    color: rgb(100, 221, 23);
    display: inline-block;
    cursor: pointer;
}

.placeholderDragAndDropQuiz .answer {
    padding: 10px;
    color: rgb(100, 221, 23);
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    text-align: left;
    font-size: 20px;
    position: relative;
}
.placeholderDragAndDropQuiz .answer span{
    left: 0;
    width: 100%;
    position: absolute;
}

.dndPlaceholder {
    display: inline;
    width: 53px;
}
